<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Gracias por apuntar a <%= @offspring.full_name %> a catequesis,  <%= @user.first_name %></h1>
<p>
  <%= @offspring.full_name %> está apuntado a:
  <%= @assignment.full_name %>
</p>
<br>
<p>
  Deberá acudir a la parroquia los días 10 a 14 de Septiembre en horario de despacho parroquial para formalizar la inscripción.
</p>


<br>
<p>Un afectuoso saludo:</p>
<p>Ignacio Andreu, párroco</p>
<p>Parroquia Sta. María Soledad Torres Acosta</p>
<br>

<p><strong>Teléfono:</strong> 913359192</p>
<p><strong>mail-to:</strong> iparroquialastablas@gmail.com</p>
<p><strong>Dirección:</strong></p>
<p> Calle Viloria de la Rioja, 38.</p>
<p>  28050 Madrid</p>
<p>
  http://www.archimadrid.es/lastablas/
</p>
</body>
</html>