<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Gracias por apuntar a <%= @offspring.full_name %> a catequesis,  <%= @user.first_name %></h1>
<p>
  <%= @offspring.full_name %> está apuntado a:
  <%= @assignment.full_name %>
</p>
<br>
<p>
  En los próximos días se comunicará las fechas para acudir a la parroquia y terminar el proceso.
</p>
</body>
</html>