<div class="container">
  <h2> <%=t('.offsprings')%></h2>

  <% unless @offsprings.empty? %>
      <%= render partial: 'offspring', collection: @offsprings %>
  <% end %>


  <div class="btn-group">
    <%= link_to t('.add_offspring'), new_offspring_path, class: "btn btn-default" %>
  </div>
</div>