<h1>Acerca de:</h1>

<p>Las Tablas es el c칩digo fuente de un proyecto Open Source para la gesti칩n de turnos en la catequesis de la parroquia de Las Tablas de Madrid.</p>

<p>El c칩digo y la licencia est치n disponibles en:</p>

 <a href="https://github.com/chargio/lastablas"> https://github.com/chargio/lastablas</a>