<h1>Acerca de</h1>

<p>Las Tablas es el c칩digo fuente de una proyecto Open Source para la gesti칩n de turnos en la catequesis de la parroquia de Las Tablas.</p>

<p>El c칩digo y la licencia est치n disponibles en:</p>

 <a href="https://github.com/sergio-ocon/lastablas"> https://github.com/sergio-ocon/lastablas</a>