<h1>Ayuda</h1>
<p>Puede solicitar ayuda en la parroquia de Las Tablas en los horarios adecuados</p>

<p>Parroquia Sta. María Soledad Torres Acosta</p>
<br>


<address>
<p><strong>Teléfono:</strong> 912193930</p>
<p><strong>mail-to:</strong> iglesialastablas@me.com</p>
<p><strong>Dirección:</strong></p>
<p> Avenida del Camino de Santiago, 35.</p>
<p>  28050 Madrid</p>
<p>
  <a href="http://www.archimadrid.es/lastablas/" >http://www.archimadrid.es/lastablas/</a>
</p>
</address>