<h1>Ayuda</h1>
<p>Puede solicitar ayuda en la parroquia de Las Tablas en los horarios adecuados</p>

<p>Parroquia Sta. María Soledad Torres Acosta</p>
<br>


<address>
<p><strong>Teléfono:</strong> 913359192</p>
<p><strong>mail-to:</strong> parroquialastablas@gmail.com</p>
<p><strong>Dirección:</strong></p>
<p> Calle Viloria de La Rioja 38.</p>
<p>  28050 Madrid</p>
<p>
  <a href="http://www.archimadrid.es/lastablas/" >http://www.archimadrid.es/lastablas/</a>
</p>
</address>