<h1>Bienvenido a catequesis de Las Tablas.
</h1>
<p>
Dé de alta su usuario
</p>
<p>
Añada a uno o varios catecúmenos, asegúrese de que es el tutor legal del niño antes de añadirlo a la aplicación.
</p>
<p>
Elija uno de los turnos disponibles
</p>
<p>
Se le comunicará cuando debe acercarse a la parroquia para terminar el proceso y entregar la documentación necesaria
</p>