<h1>Bienvenido a catequesis de Las Tablas.
</h1>
<h2>Este es el paso 2 de 2. Asegúrese de terminar el paso anterior antes de acceder a esta aplicación</h2>

<ul>
  <li> Dé de alta su usuario. Para ello acceda a través de Entrar --> Darse de alta y rellene sus datos
  <li> Asegúrese de introducir un correo electrónico correcto. Recibirá las instrucciones para continuar en su correo.
  <li> Añada a sus hijos como catecúmenos. Sólo el tutor del niño puede añadir los datos a la aplicación. Asegúrese de haber terminado el paso 1 en el formulario (antes de usar esta aplicación)
  <li> Seleccione al niño y elija uno de los turnos dispoibles.
  <li> El niño ya tiene un turno asignado. Podrá ver el turno elegido en la aplicación y recibirá un correo con la información
</ul>
