<li>
  <div class = "panel panel-info">
    <div class="panel-heading">
    <strong><%= shift.start_time %> => <%= shift.end_time %> </strong>
  </div>
  <div class="panel-body">
    <p> Sites available: TODO(Sites available)</p>
  </div>
  </div>
</li>