<p>¡Estimado <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nos ponemos en contacto con Ud para comunicarle que su dirección de correo almacenada se está cambiando a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nos ponemos en contacto con Ud para comunicarle que su dirección de correo almacenada se ha cambiado a <%= @resource.email %>.</p>
<% end %>


<br>
<p>Un afectuoso saludo:</p>
<p>Ignacio Andreu, párroco</p>
<p>Parroquia Sta. María Soledad Torres Acosta</p>
<br>

<p><strong>Teléfono:</strong> 913359192</p>
<p><strong>mail-to:</strong> iparroquialastablas@gmail.com</p>
<p><strong>Dirección:</strong></p>
<p> Calle Viloria de la Rioja, 38.</p>
<p>  28050 Madrid</p>
<p>
  http://www.archimadrid.es/lastablas/
</p>