<p>Estimado <%= @resource.email %>!</p>

<p>Alguien ha pedido un enlace para resetear su password. Puede hacerlo a través del siguiente enlace.</p>

<p><%= link_to 'Cambiar el password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Sin no lo ha solicitado, ignore este mensaje.</p>
<p>Su password no cambiará hasta que acceda al enlace y solicite el cambio.</p>


<br>
<p>Un afectuoso saludo:</p>
<p>Ignacio Andreu, párroco</p>
<p>Parroquia Sta. María Soledad Torres Acosta</p>
<br>

<p><strong>Teléfono:</strong> 913359192</p>
<p><strong>mail-to:</strong> iparroquialastablas@gmail.com</p>
<p><strong>Dirección:</strong></p>
<p> Calle Viloria de la Rioja, 38.</p>
<p>  28050 Madrid</p>
<p>
  http://www.archimadrid.es/lastablas/
</p>