<% flash.each do |message_type, message| %>
    <div class="alert <%= alert_class(message_type) %> fade in">
      <button area-hidden="true" class="close" data-dismiss="alert" type="button">
        <span class="pficon pficon-close"></span>
      </button>
      <span class="asdfasdf"></span>
      <%= message %>
    </div>
<% end %>

<% flash.each do |message_type, message| %>
    <div class="sdfa">
      <button area-hidden="true" class="close" data-dismiss="alert" type="button">
        <span class="pficon pficon-close"></span>
      </button>
      <span class="asdfasdf"></span>
      <%= message %>
    </div>
<% end %>
